# Android Studio & Gradle
*.iml
.gradle/
local.properties
/.idea/
/build/
/captures/
/.externalNativeBuild/
/cxx/
/.DS_Store

# Keystore files (sécurité)
*.jks

# Log files
*.log

# APKs
*.apk
*.ap_

